/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.heroVideo {
  filter: drop-shadow(16px 16px white);
}

.backShadow {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 50%;
  opacity: 50%;
  z-index: -1;
  box-shadow: 0 0 20px 15px pink;
}

.bgFrame {
  background-image: url("./assets/Images/bghome.svg");
}

.Timeline {
  background-image: url("./assets/Images/TimelineImage.png");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 714px;
  height: 545px;
  min-width: 358px;
}


.gradient-text {
  background: linear-gradient(to right, #E65C00, #F9D423);
  /* Replace with your desired gradient */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gradient-text2 {
  background: linear-gradient(to right, #833AB4, #FD1D1D, #FCB045);
  /* Replace with your desired gradient */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text3 {
  background: linear-gradient(to right, #E65C00, #F9D423);
  /* Replace with your desired gradient */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gradient-text4 {
  background: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB);
  /* Replace with your desired gradient */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.loader {
  color: #FFF;
  position: relative;
  font-size: 11px;
  background: #FFF;
  animation: escaleY 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2em;
  background: #FFF;
  width: 1em;
  height: 4em;
  animation: escaleY 1s infinite ease-in-out;
}

.loader:before {
  left: -2em;
  animation-delay: -0.32s;
}

@keyframes escaleY {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}



/* form loader */


.form-loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.form-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #000000;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}